.header {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  margin-bottom: 41px;
}

@media screen and (max-width: 380px) {
  .header {
    margin-bottom: 32px;
  }
}






